.cards {
  height: 200px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.cards img {
  height: 100px;
}
